/* ==========================================================
   CARTE D'ARRIVÉE
========================================================== */


/* ==========================================================
   MOUETTE - CARTE D'ARRIVÉE ANGLETERRE
========================================================== */

.postcard-seagull--arrival {
    left: 48.5%;
    top: 82%;

    width: clamp(90px, 9vw, 145px);

    transform: scaleX(-1);
}