/* ==========================================================
   PROFESSEUR
========================================================== */

.postcard-professor {
    position: absolute;
    z-index: 10;

    width: 19%;
    max-height: 70%;

    user-select: none;
    pointer-events: none;
}


/* ==========================================================
   PROFESSEUR DÉPART
========================================================== */

.postcard-professor--neutral {
    right: 12%;
    bottom: 3%;
}


/* ==========================================================
   PROFESSEUR ARRIVÉE
========================================================== */

.postcard-professor--bravo {
    right: 12%;
    bottom: 3%;
}